/* Reset client style */

*, *::before, *::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #f4f7fc;
  font-size: large;
  font-family: sans-serif;
  line-height: 1.8;
}

ul {
  list-style: none;
}

ul li::before {
  content: "\2022";
  color: #709fdc;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

nav{
  width: 100%;
}

nav.navbar{
  background: #709fdc;
  color: white;
}

nav .navbar__wrapper{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

nav .navbar__item{
  width: 33%;
  text-align: center;
  padding: 5px;
  transition: all 0.5s;
}

nav .navbar__item a{
  text-decoration: none;
  color: inherit;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
}

nav .navbar__item:hover{
  background: #6089bf;
}

pre{
  width: 100%;
  background: #071739;
  border-radius: 2px;
  color: white;
}

.content{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content img{
  width: 50%;
  border-radius: 2%;
  border: 2px solid #709fdc;
  margin: 2%;
}

.content ul{
  font-size: 20px;
}

.content h1{
  text-align: center;
  line-height: 2em
}

.content__wrapper{
  margin: 0 5%;
}

#contacts a{
  text-decoration: none;
  color: #709fdc;
  text-shadow: 0 0 1px #000;
  transition: all 0.5s;
}

#contacts a:hover{
  text-shadow: 0 0 2px #eee;
  text-decoration: underline;
}
